body {
    background-color: black;
    color: white;
}
h1 {
    font-size: 35px;
    color: red;
}
p {
    font-size: 20px;
    color: white;
}
.topo {
    background-color: red;
}
.menu {
    background-color: crimson;

}
.anuncio {
    background-color: pink;
    float: right;
    width: 40%;
    box-sizing: border-box;
}
.conteudo {
    background-color: black;
    float: left;
    width: 60%;
    box-sizing: border-box;
}
div {
    padding: 20px;
}
